<ion-view class="loading-ion-view">
    <div ng-if="authenticating">
        <div class="row row-center responsive-sm" style="top:32%; position: absolute">
            <div style="margin: auto">
                <ion-spinner icon="dots"></ion-spinner>
            </div>
        </div>
        <div class="row row-center responsive-sm" style="top:40%; position:absolute">
            <div style="margin: auto">
                <img src="images/SmartHomeLogo.png" width="130px">
            </div>
        </div>
    </div>

    <div class="row row-center justify-content-center" style="height: 100%; margin-top: -40px">
        <div style="flex-basis: 220px; -webkit-flex-basis: 220px; -moz-flex-basis: 220px" class="flex flex-direction-column">

            <!--Firebase Login-->
            <!--<div class="auto-flex-column">-->
                <!--<img src="images/SmartHomeLogo.png" width="158px">-->
            <!--</div>-->
            <!--<div class="auto-flex-column">-->
                <!--<div class="list list-inset" style="margin-left: 0; margin-right: 0; border-radius: 4px">-->
                    <!--<label class="item item-input">-->
                        <!--<input type="text" placeholder="Username">-->
                    <!--</label>-->
                    <!--<label class="item item-input" style="border-top: solid 1px #eee">-->
                        <!--<input type="text" placeholder="Password">-->
                    <!--</label>-->
                    <!--<button class="button button-positive" style="border-radius: 0px; height: 30px; width: 100%; bottom: -2px; margin-top: -1px">Sign in</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--Facebook Login-->
            <div ng-if="!authenticating && !loggedIn" class="row row-center responsive-sm" style="margin-top: 10px; margin-left: -5px">
                <div ng-click="login()">
                    <img src="images/sign-in-facebook.png" width="220px">
                </div>
            </div>

            <div ng-if="!authenticating && loggedIn && !userHavePermission" class="row row-center responsive-sm" style="margin-top: 10px; margin-left: -5px">
                <p>You don't have permission to access the resource.</p>
            </div>

        </div>
    </div>

</ion-view>
